.preview{
    position: relative;
}
.preview_close{
    position: absolute;
    top: 0px;
    margin: 5px;
    font-size: 22px !important;
}
.preview__toolbarRight {
    color: white;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    margin: 5px;
  }
  
  .preview__toolbarRight > .MuiSvgIcon-root {
    font-size: 30px !important;
    margin-bottom:8px;
    cursor: pointer;
  }
.captureImage{
    width: 250px;
    height: 393px;
}

.preview__footer{
    position: absolute;
    bottom: 0;
    right: -25px ;
    transform: translate(-50%,-50%);
    background-color: yellow;
    color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 30px;
    padding: 7px;
    
    cursor: pointer;
  }
  
  .preview__footer > h2 {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 3px;
  }
  
  .preview__sendIcon {
    font-size: 15px!important;
  }